Problem:

Given a list of integers, return the largest difference between any two elements, where the larger element appears after the smaller one. If no such pair exists, return 0.

In [1]:
def largest_diff(nums):
    if not nums or len(nums) < 2: # if list is empty or value is only 1.
        return 0

    min = nums[0] # keeping first value as start point
    max_diff = 0 # keeping first difference as 0

    for num in nums[1:]:
        if num > min:
            max_diff = max(max_diff, num - min) # if new diff is bigger than 0
        else:
            min= min(min, num) #replace min with new num for next diff

    return max_diff

In [2]:
largest_diff([1,2,3,4,5])

4

First Non-Repeating Character Problem: Given a string, return the first non-repeating character. If there are no non-repeating characters, return None.

In [2]:
def non_repeating_char(x):
    char_count = {} #created empty dict to story character with it's rescpective count


    for char in x:
        if char in char_count:
            char_count[char] += 1 # add 1 if it exist in dict
        else:
            char_count[char] = 1 # if nt then add it as a new entry

    for char in x:
        if char_count[char] == 1: # after the first loop is complete lets check which character have count equals to 1
            return char

    return None

In [3]:
non_repeating_char("abcabd")

'c'

Given two strings,write a function to check if one is a permutation of the other. Return True if they are permutations,False otherwise

In [1]:
def permutations(str1,str2):
  if len(str1) != len(str2): # if both str are not equal in length, dunction ends here
    return False
  char_count1={}   # crerated empty dictionaries for each character count in both strings
  char_count2={}
  for char in str1:
    char_count1[char]=char_count1.get(char,0)+1 # if the character will exist , it will add one to it otherwise create a new entry
  for char in str2:
    char_count2[char]=char_count2.get(char,0)+1
  return char_count1==char_count2

In [3]:
permutations("aba","baan")

False

In [6]:
def permutation(a,b):
  if len(a)!=len(b):
    return False

  return  sorted(a)==sorted(b)

In [7]:
permutation("daad","adad")

True

Problem: Given a list of integers, return the second largest unique number. If no second largest unique number exists, return None. Example: Input: [4, 5, 6, 6, 7] Output: 6 Explanation: The second largest unique number is 6.

In [10]:
def second_largest_unique(nums):
  unique={}
  for num in nums:
    unique[num]=unique.get(num,0)+1 # added all character with it's respective count in unique dict
  unique2=[x for x in unique if unique[x]==1] # created another dict for the characters whose value is 1
  unique2.sort(reverse=True) # to sort in descending order
  if len(unique2)>=2:
    return unique2[1]
  else:
    return None

In [11]:
second_largest_unique([4, 5, 6, 6, 7])

5

Count Distinct Pairs Problem: Given a list of integers and a target sum, count how many distinct pairs of integers in the list sum up to the target.

[ ]

In [18]:
def distinct_pairs(x,target):
  seen=set()  # set of numbers we have seen
  distinct_pair=set() # sets for all pairs

  for num in x:
    diff=target-num
    if diff in seen: # if the difference b/w target and num is present in seen, make a pair of it
      distinct_pair.add(tuple(sorted((diff,num)))) # sorted to avoid duplicates and tuple, as set can't hold mutable items like list
    seen.add(num)

  return len(distinct_pair)

In [19]:
distinct_pairs([1, 2, 3, 4, 3, 6], 6)

2

Remove Duplicates from List Problem: Given a list of integers, remove all duplicates while maintaining the order of their first occurrence.

In [20]:
def remove_duplicates(nums):
  seen=set() #set,since set only holds unique  items
  result=[]

  for num in nums:
    if num not in  seen:
      seen.add(num)  #add,since sets are not in order and can't have duplicates
      result.append(num)
  return result

In [21]:
remove_duplicates([1, 2, 3, 2, 4, 3, 5])

[1, 2, 3, 4, 5]

Subsets of a List Problem: Given a list of integers, return all possible subsets (the power set) of the list.

In [24]:
def subsets(nums):
  result=[[]] # set initial list with an emtpy sub set

  for num in nums:
    subset=[char+[num] for char in result] # []+[1]=[1]
    result.extend(subset)
  return result

In [25]:
subsets([1,2,3])

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

Longest Increasing Subsequence Problem: Given a list of integers, find the length of the longest subsequence of strictly increasing elements.

In [ ]:
def length_of_lis(nums):
    if not nums:
        return 0

    n = len(nums)
    dp = [1] * n

    for i in range(1, n):
        for j in range(i):
            if nums[j] < nums[i]:

                dp[i] = max(dp[i], dp[j] + 1)

    return max(dp)

Maximum Product of Two Numbers Problem: Given a list of integers, return the maximum product of any two numbers in the list.

In [26]:
def max_product(num):
  num.sort()
  sum1=num[-1]*num[-2]
  sum2=num[0]*num[1]
  return max(sum1,sum2)

In [27]:
max_product([1,2,3,4,5])

20

Frequency of Characters in String Problem: Given a string, return the character that appears most frequently. If there is a tie, return the lexicographically smallest character.

In [28]:
def most_frequent_char(x):
  chars={}
  for char in x:
    if char in chars:
      chars[char]+=1
    else:
      chars[char]=1
  frequency=0
  character=''
  for key,value in chars.items():
    if value>frequency:
      frequency=value
      character=key
  return character

In [29]:
most_frequent_char("aabbbcc")

'b'


Problem: Write a function that prints all prime numbers less than a given number n.

In [11]:
def prime_num(x):
  for num in range(x):
    if num > 1:
      for i in range(2, num):
        if (num % i) == 0:
          break
      else:
        print(num)

In [12]:
prime_num(10)

2
3
5
7

In [15]:
def prime(x):
  prime_list=[]
  for num in range(x):
    if num > 1:
      for i in range(2, num):
        if (num % i) == 0:
          break
      else:
        prime_list.append(num)
  return prime_list

In [16]:
prime(10)

[2, 3, 5, 7]

Sum of Variable-Length Arguments Problem: Write a function that takes a variable number of arguments (*args) and returns the sum of all the numbers.

In [17]:
def sum_num(*args):
  return sum(args)

In [19]:
sum_num(1,2,3,4,5)

15

Find the Student with Highest Score Problem: Given a dictionary of students' names and their scores, write a function that returns the name of the student with the highest score

In [20]:
student_record={"Sara":93,"Kareem":82,"Ali":96}

def highest_score(student_record):
  score=0
  name=""
  for key,value in student_record.items():
    if value>score:
      score=value
      name=key
  return key

In [21]:
highest_score(student_record)

'Ali'

Apply Lambda to List Problem: Write a function that takes a list of integers and a lambda function, and returns a new list where the lambda function is applied to each element of the list.

In [22]:
def  list_function(x):
  return list(map(lambda x:x**2,x))

In [24]:
list_function([1,2,3,4,5])

[1, 4, 9, 16, 25]

Sum or Multiply Based on Keyword Argument Problem: Write a function that takes a variable-length list of numbers (*args) and an optional keyword argument operation. If operation='multiply', return the product of all the numbers; otherwise, return their sum.

In [26]:
def optional(*args,optional='sum'):
  if optional=='multiply':
    result=1
    for num in args:
      result*=num
  else:
    result=0
    for num in args:
      result+=num
  return result

In [28]:
optional(1,2,3,4,optional='multiply')

24